<h1>New Comments</h1>
<div class='jumbotron'>
<div class="form-group">
    <label for="exampleFormControlTextarea1">Write a comment</label>
    <%= form_for [@review, @comment] do |f|%>
        <%=f.text_area :body, placeholder: 'Comment', class: "form-control"%><br />
        <%= f.submit %><br />
    <% end %>
</div>
</div>


        
        
          
        