<h1>Local Bars</h1>
<ul>
<% @bars.each do |b| %>
<div class="media">
<%= link_to bar_path(b) do %>
    <%= image_tag b.photo, class: "d-flex align-self-start mr-3 bar-list-thumb", id: 'mainimg' %>
<% end %>
<div class="media-body">
<h1 class="mt-0"><%= link_to b.name, bar_path(b) %></h1>  
    </div>
</div>
<% end %>
<br />
<%= link_to  "Found a new spot? Tell us about it", new_bar_path, class: 'btn btn-primary' %>
</ul>

