<h1>Welcome <%= @user.name %>!</h1>

<h3><%= link_to 'Check out some bars in your area!', bars_path %></h3>
<br />
<br />


<h1>Your Favorites</h1>

<ul>
    <% @user.favorites.each do |f| %>
        <li>
            <%= f.bar.name %>
           <%= link_to 'Delete', "/favorites/#{f.id}",  method: :delete, class: 'btn btn-primary' %>
        </li>
    <% end %>
</ul>

